<h1>Edit Your Experience</h1>
<div>
<%= simple_form_for @product, :html => { :multipart => true } do |f| %>
<div class="form">
<%= f.select :category_id, @categories%>
</div>
<div class="form">
<%= f.file_field :product_img %>
</div>

<div class="form">
<%= f.label :"Establishment" %>
</div>
<div class="form">
<%= f.text_field :subject%>
</div>
<div class="form">
<%= f.label :"Place" %>
</div>
<div class="form">
<%= f.text_field :place %>
</div>
<div class="form">
<%= f.label :"Name of Staff (if any)" %>
</div>
<div class="form">
<%= f.text_field :name %>
</div>
<div class="form">
<%= f.label :"Your name" %>
</div>
<div class="form">
<%= f.text_field :country %>
</div>
<div class="form">
<%= f.label :"Your experience" %>
</div>
<div class="description">
<%= f.text_field :description %>
</div>
<br></br>
<%= f.submit "Submit", class: "btn btn-primary" %>
<%end%>
</div>
