<h1>Edit Your Experience</h1>
<div>
<%= simple_form_for @product, :html => { :multipart => true } do |f| %>
<div class="form">
<%= f.select :category_id, @categories%>
</div>
<div class="form">
<%= f.input :subject, label: "Establishment"%>
</div>

<div class="form">
<%= f.input :place %>
</div>

<div class="form">
<%= f.input :name, label: "Name of Staff" %>
</div>



<div class="form">
<%= f.label :"Your name" %>
</div>
<div class="form">
<%= f.text_field :country %>
</div>

</br>

<div class="form">
<%= f.file_field :product_img %>
</div>

</br>
<div class="description">
<%= f.input :description%>
</div>


<br></br>
<%= f.submit "Submit", class: "btn btn-primary" %>
<%end%>
</div>
