<div class="row">

  <div id="showimg" class="col-md-4">
  <%=image_tag @product.product_img.url(:product_index), class: "product-show"%>
</div>

<div id="des" class="col-md-8">
<h2><%= @product.subject %></h2>
<p><strong>Place: </strong><%= @product.place %></p>
<p><strong>Category: </strong><%= @product.category.name %></p>
<p><strong>Your experience: </strong></p>
<div class="space">
<p><%= @product.description %></p>
</div>
</br>
<p><strong>From: </strong><%= @product.name %></p>
</br>



<% if user_signed_in? %>
<%if @product.user_id == current_user.id %>
<%= link_to "Edit", edit_product_path(@product) %>
<%= link_to "Delete", product_path(@product), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<% end %>


</div>

</div>

<div id="addreview">
  <%= link_to "Add More Reviews", new_product_review_path(@product)%>
</div>
</br>

<div id="review" class="row">
  <div id="otherreviews" class="col-md-4">
    <%= render @product.reviews %>
</div>
</div>

<div class="row">
<button class="btn btn-default>"><%= link_to "Back", root_path(@product) %></button>
</div>

<script>
$('.review-rating').raty({
  readOnly: true,
  score: function() {
  return $(this).attr('data-score');
},
path: '/assets/'

});
</script>
